@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;400;500;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: sono;
}
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.waviy span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}